.About section {
	margin: auto 120px;
}

.phone .About .page-section {
	margin: auto 24px;
}

.phone .About .page-header .titlearea {
	-ms-grid-column: 1;
	margin-top: 37px;
	margin-left: 24px;
	font-size: 28pt;
	width: calc(100vw - 20px);
}

.phone .About .back-button {
	display: none;
}

.fragment {
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 128px 1fr;
	display: -ms-grid;
	height: 100%;
	width: 100%;
}

	.fragment section[role=main] {
		-ms-grid-row: 2;
		height: 100%;
	}

    
.yolo{
	
 
	   min-height:100%;
	   background: url("Background.jpg");
	   background-size: 1800px 900px;
	   background-repeat: no-repeat;
	   background-attachment: fixed;
	   min-height:100%;
	   margin-bottom: 0em;
       padding-bottom: 3em;
	  }
.yolo img-about{
        margin-left: 12em;
       // margin-top: 7em;
}
.yolo Title{
   // margin-top:0em;
   // text-align: center;
}