.homepage section[role=main] {
    margin: auto 120px;
}


.nav-bar{
	}

.nav-big{
	 width: 20vw;
	 background-color: #000;
	 transition: background-color 0.2s linear 0s;
	 border-style: solid;
	 border-color: #151414;
	 height: 15vh;
	 
	}

.nav-big:hover{
	       background-color:#5F5F5F;
	       color: #fff;
	       border-color: #5F5F5F;
	      }
.nav-big h2{
	    color: #fff;
	    padding-top: 5vh;
	    font-size: 6vh;
	   }

.Tit{
    height: 29vh;
    width: 30vw;
    text-align: center;
    overflow: hidden;
   }
.Mod{
    height: 29vh;
    width: 30vw;
    text-align: center;
    overflow: hidden;
   }
.Sett{
    text-align: center;
    width:15vw;
    height:18vh;
    overflow: hidden;
   }

.abo{
    width:14vw;
    height:18vh;
    text-align: center;
    overflow: hidden;
   }
.weed{
    width: 30vw;
    height:18vh;
    text-align: center;
    overflow: hidden;
   }


a{
  text-decoration: none;
  color: #767683;
 }

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}

.cell:focus {
    background-color: #36AEF0;
    outline: 2px white solid;
    z-index: 2;
    box-shadow: 0 0 20px 1px #000000;
}
