.homepage section[role=main] {
    margin: auto 120px;
}


.nav-bar{
	 margin-left: 10em;
	 margin-top: 6em;
	}

.nav-big{
	 width: 20vw;
	 background-color: #000;
	 transition: background-color 0.2s linear 0s;
	 border-style: solid;
	 border-color: #151414;
	 height: 15vh;
	 
	}

.nav-big:hover{
	       background-color:#5F5F5F;
	       color: #fff;
	       border-color: #5F5F5F;
	      }
.nav-big h2{
	    color: #fff;
	    padding-top: 5vh;
	    font-size: 6vh;
        left: 0.2vw;
	   }

.Tit{
    height: 29vh;
    position:absolute;
    width: 30vw;
    text-align: center;
    overflow: hidden;
    left: 15vw;
    top:30vh;
   }
.Mod{
    position:absolute;
    height: 29vh;
    width: 30vw;
    text-align: center;
    overflow: hidden;
    right:23vw;
    top:30vh;
   }
.Sett{
    position:absolute;
    text-align: center;
    width:15vw;
    height:18vh;
    overflow: hidden;
    left:15vw;
    top:61vh;
   }

.abo{
    position:absolute;
    width:14vw;
    height:18vh;
    text-align: center;
    overflow: hidden;
    left:31vw;
    top:61vh;
   }
.weed{
    position:absolute;
    width: 30vw;
    height:18vh;
    text-align: center;
    overflow: hidden;
    right:23vw;
    top: 61vh;
   }


a{
  text-decoration: none;
  color: #767683;
 }
